.gridContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gridRow {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
}

.gridCell {
    border: 1px solid black;
    cursor: pointer;
    height: 20px;
    text-align: center;
    width: 20px;
}